<!DOCTYPE html>
<html lang = "en">
<title> Add Employee </title>


<div align="center">
<form method = "POST" action = "/add-employee">
<h1> Add Employee </h1>
	<label> First Name: <input type = "text" id = "employee_firstname" name = "employee_firstname"> </label>

	<br>
	<br>

	<label> Last Name: <input type = "text" id = "employee_lastname" name = "employee_lastname" > </label>

	<br>
	<br>

	<label> Position: <input type = "text" id = "employee_position" name = "employee_position"> </label>

	<br>
	<br> 

<input type = "submit" id = "add" name = "add" value = "Add" />
</form>
<button style = "margin-top: 10px;"onclick ="location.href = '/'"> Back </button>
</div>



</html>